@model DetalleCotizaciones.Models.Cotizaciones

@{
    ViewBag.Title = "Create";
}
<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Cotizaciones</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <label class="control-label">Cliente:</label>
                <input class="form-control col-sm-5" type="text" id="tbCliente" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-1">Fecha:</label>
            <div class="col-md-10">
                <input type="text" class="datepicker col-4" id="dpFecha">
            </div>
        </div>
        <div class="form-group" size="100">
            <div class="form-group col-12">
                <label class="control-label">Articulo:</label>
                <input class="form-control input-group-sm col-2" type="text" id="tbArticulo" />
                <label class="control-label">Precio:</label>
                <input class="form-control input-group-sm col-2" type="text" id="tbPrecio" />
                <label class="control-label">Cantidad:</label>
                <input class="form-control input-group-sm col-2" type="text" id="tbCantidad" />
                <button type="button" class="btn btn-default" id="btnAgregar" onclick="AgregarDetalle()">Agregar</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm table-bordered" id="tDetalle">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Articulo</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Sub-Total</th>
                    </tr>
                </thead>
                <tbody id="tbBody"></tbody>
            </table>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label class="control-label">Monto:</label>
                <input class="form-control col-sm-5" type="text" id="tbMonto" value="0" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-default" id="btnCrear" onclick="ArmarCotizacion()">Crear</button>
                <button type="button" class="btn btn-default" id="btnLimpiar" onclick="LimpiarCampos()">Limpiar</button>
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(document).off('.datepicker.data-api');
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true
        });
        function ArmarDetalle(CotizacionId) {
            var detalles = new Array();

            $('#tbBody tr').each(function () {
                var cotId = CotizacionId;
                var artId = 1;
                var art = $(this).find('td').eq(1).html();
                var prec = $(this).find('td').eq(2).html();
                var c = $(this).find('td').eq(3).html();
                var st = $(this).find('td').eq(4).html();
                detalles.push(
                    {
                        CotizacionDetalleId: 0,
                        CotizacionId: cotId,
                        ArticuloId: artId,
                        Articulo: art,
                        Cantidad: c,
                        PrecXund: prec,
                        SubTotal: st
                    });
            });
            console.log(detalles);
            EnviarDetalle(detalles);
        }
        function AgregarDetalle() {
            var long = $("#tbBody tr").length;

            var monto = $('#tbMonto').val();

            var articulo = $("#tbArticulo").val();
            var precio = $("#tbPrecio").val();
            var cantidad = $("#tbCantidad").val();
            var subTotal = precio * cantidad;

            var fila = "<tr>";
            fila += "<td>" + (long + 1) + "</td>";
            fila += "<td>" + articulo + "</td>";
            fila += "<td>" + precio + "</td>";
            fila += "<td>" + cantidad + "</td>";
            fila += "<td>" + subTotal + "</td>";
            fila += "</tr>";

            monto = parseFloat(subTotal) + parseFloat(monto);

            $('#tDetalle tbody').append(fila);

            $('#tbMonto').val(monto);

            LimpiarCamposDetalle();
        }
        function EnviarDetalle(detail) {
            var pack = JSON.stringify(detail);
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: pack,
                cache: false,
                url: "/CotizacionDetalles/Guardar",
                success: function (data) {
                    if (!data) {
                        alert("No se pudo almacenar el detalle...");
                    }
                    else {
                        LimpiarCampos();
                    }
                },
                error: function (result) {
                    alert("Ha fallado el registro del articulo: " + result);
                }
            });
        }
        function EnviarCotizacion(cotizacion) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: "{cotizacion:" + JSON.stringify(cotizacion) + "}",
                url: "/Cotizaciones/Guardar",
                success: function (id) {
                    if (parseInt(id) > 0) {
                        ArmarDetalle(id);
                    }
                    else {
                        alert("No se pudo almacenar la cotización...");
                    }
                }
            });
        }
        function ArmarCotizacion() {
            var cli = $('#tbCliente').val();
            var date = $('#dpFecha').val();
            var monto = $('#tbMonto').val();
            var cotizacion = {
                CotizacionId: 0,
                Cliente: cli,
                Fecha: date,
                Monto: monto
            }
            EnviarCotizacion(cotizacion);
        }
        function LimpiarCamposDetalle() {
            $("#tbArticulo").val("");
            $("#tbPrecio").val("");
            $("#tbCantidad").val("");
        }
        function LimpiarCampos() {
            $('#tbCliente').val("");
            $('#dpFecha').val("");
            $('#tbMonto').val("0");
            LimpiarCamposDetalle();
            $('#tbBody tr').remove();
        }
    </script>
}